# Ignore everything
/*

# Folders
!gradle
!buildSrc
!src

# Files
!.gitattributes
!.gitignore
!build.gradle.kts
!gradle.properties
!gradlew
!gradlew.bat
!Jenkinsfile
!LICENSE
!README.md
!settings.gradle.kts
!.gitlab-ci.yml